@charset "UTF-8";
/* regra @CHARST É SE CADO ACHA ALGUM PROBLEMA DE ACENTUAÇÃO */
body {
    background-color: lightgoldenrodyellow;
    color: chocolate;
    font-size: 12pt;
    font-family: Arial;
    }
h1 {
    color: brown;
}
a {
    color: brown;
    text-decoration: none;
}
